<!-- Display for user:
    Message: 
    Data: distance, time (comes from TIMESTAMP), calories -->
<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<%include head %>
</head>
<body>
	<%include navbar %>
	<h1>Your Results</h1>
	<div class="container">
		<div class="row">
			 <table id ="myTable">
            <thead>
                <th>Total Time</th>
            </thead>
                <tbody>
                <tr>
                	<td><%=distance%></td>
                	<td><%=address%></td>
                </tr>
                <% results.map((row)=>{ %>
                    <tr>
                        <td><% if(row.hours !== 0){ %>Hours: <%= row.hours%><% } %></td>
                        <td>Minutes: <%= row.minutes%></td>
                        <td>Seconds: <%= row.seconds%></td>
                    </tr>
                <% }) %>

                </tbody>
            </table>
		</div>
	</div>


</body>
</html>